phase_3/pipeline/01_extract_from_api_OLD.json
{
	"name": "01_extract_from_api_OLD",
	"properties": {
		"activities": [
			{
				"name": "trigger_time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "start_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "trigger_time",
					"value": {
						"value": "@pipeline().TriggerTime",
						"type": "Expression"
					}
				}
			},
			{
				"name": "unix_trigger_time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "trigger_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "unix_trigger_time",
					"value": {
						"value": "@string(sub(div(ticks(variables('trigger_time')),10000000),div(ticks(variables('param_epoch')),10000000)))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "trigger_time_year",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "trigger_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "trigger_time_year",
					"value": {
						"value": "@formatDateTime(variables('trigger_time'), 'yyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "trigger_time_month",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "trigger_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "trigger_time_month",
					"value": {
						"value": "@formatDateTime(variables('trigger_time'), 'MM')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "trigger_time_day",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "trigger_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "trigger_time_day",
					"value": {
						"value": "@formatDateTime(variables('trigger_time'), 'dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Fetch Data From Socrata Api to Blob Storage Gen2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "report_datetime_format_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RestResourcePoliceDepartment",
						"type": "DatasetReference",
						"parameters": {
							"exclude_system_fields": {
								"value": "@pipeline().parameters.exclude_system_fields",
								"type": "Expression"
							},
							"limit": {
								"value": "@pipeline().parameters.limit",
								"type": "Expression"
							},
							"where_1": {
								"value": "@pipeline().parameters.where",
								"type": "Expression"
							},
							"start_date": {
								"value": "@pipeline().parameters.start_date",
								"type": "Expression"
							},
							"end_date": {
								"value": "@pipeline().parameters.end_date",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ResponseJsonPoliceDepartment",
						"type": "DatasetReference",
						"parameters": {
							"dataset": {
								"value": "@pipeline().parameters.dataset",
								"type": "Expression"
							},
							"trigger_time_year": {
								"value": "@variables('trigger_time_year')",
								"type": "Expression"
							},
							"trigger_time_month": {
								"value": "@variables('trigger_time_month')",
								"type": "Expression"
							},
							"field_name": {
								"value": "@pipeline().parameters.field_name",
								"type": "Expression"
							},
							"response_format": {
								"value": "@pipeline().parameters.response_format",
								"type": "Expression"
							},
							"unix_trigger_time": {
								"value": "@variables('unix_trigger_time')",
								"type": "Expression"
							},
							"file_path": {
								"value": "@variables('file_path')",
								"type": "Expression"
							},
							"file_name": {
								"value": "@variables('file_name')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "file_path",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "unix_trigger_time",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "trigger_time_year",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "trigger_time_month",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "trigger_time_day",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "file_path",
					"value": {
						"value": "@concat(concat(concat(concat(concat(concat(concat('01-raw/',pipeline().parameters.dataset,'/'), variables('trigger_time_year')),'/'),variables('trigger_time_month')),'/'),variables('trigger_time_day')),'/')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "file_name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "file_path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "file_name",
					"value": {
						"value": "@concat(concat(variables('unix_trigger_time'),'_'),pipeline().parameters.field_name,pipeline().parameters.response_format)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "report_datetime_format_date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "file_name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "report_datetime_format_date",
					"value": {
						"value": "@concat(concat(concat(concat(formatDateTime(replace(pipeline().parameters.start_date,'''',''),'yyyy'),'_'),formatDateTime(replace(pipeline().parameters.start_date,'''',''),'MM')),'_'),formatDateTime(replace(pipeline().parameters.start_date,'''',''),'dd'))\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "00_get_metadata_from_blob",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "00_get_metadata_from_blob_OLD",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "start_date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "POST",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "start_date",
					"value": {
						"value": "@string(activity('POST').output.value[0].output)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "POST",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "00_get_metadata_from_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/452138b6-ecca-4e93-b8f9-5ee68cccbf98/resourceGroups/rg-dev/providers/Microsoft.DataFactory/factories/adf-dev-eastus-0001/pipelineruns/',string(activity('00_get_metadata_from_blob').output.pipelineRunId),'/queryActivityruns?api-version=2018-06-01')\n\n",
						"type": "Expression"
					},
					"method": "POST",
					"body": "a",
					"httpRequestTimeout": "00:01:00",
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com/"
					}
				}
			}
		],
		"parameters": {
			"exclude_system_fields": {
				"type": "string",
				"defaultValue": "False"
			},
			"limit": {
				"type": "string",
				"defaultValue": "1"
			},
			"where": {
				"type": "string",
				"defaultValue": "report_datetime  "
			},
			"start_date": {
				"type": "string"
			},
			"end_date": {
				"type": "string",
				"defaultValue": "'2018-01-02T00:00:00'"
			},
			"dataset": {
				"type": "string",
				"defaultValue": "police_department"
			},
			"field_name": {
				"type": "string",
				"defaultValue": "report_datetime_"
			},
			"response_format": {
				"type": "string",
				"defaultValue": ".json"
			}
		},
		"variables": {
			"param_epoch": {
				"type": "String",
				"defaultValue": "1970-01-01T00:00:00Z"
			},
			"trigger_time": {
				"type": "String"
			},
			"unix_trigger_time": {
				"type": "String"
			},
			"trigger_time_year": {
				"type": "String"
			},
			"trigger_time_month": {
				"type": "String"
			},
			"trigger_time_day": {
				"type": "String"
			},
			"file_path": {
				"type": "String"
			},
			"file_name": {
				"type": "String"
			},
			"report_datetime_format_date": {
				"type": "String"
			},
			"start_date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "OLD"
		},
		"annotations": [],
		"lastPublishTime": "2023-06-03T22:58:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}