phase_3/pipeline/01_extract_from_api_raw.json
{
	"name": "01_extract_from_api_raw",
	"properties": {
		"activities": [
			{
				"name": "trigger_time",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "trigger_time",
					"value": {
						"value": "@addDays(pipeline().TriggerTime, -1)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "unix_trigger_time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "trigger_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "unix_trigger_time",
					"value": {
						"value": "@string(sub(div(ticks(variables('trigger_time')),10000000),div(ticks(variables('param_epoch')),10000000)))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "trigger_time_year",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "insert_datetime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "trigger_time_year",
					"value": {
						"value": "@formatDateTime(variables('insert_datetime'), 'yyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "trigger_time_month",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "insert_datetime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "trigger_time_month",
					"value": {
						"value": "@formatDateTime(variables('insert_datetime'), 'MM')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Socrata Api to Blob Storage Gen2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "url_api",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"parallelCopies": 1,
					"dataIntegrationUnits": 2
				},
				"inputs": [
					{
						"referenceName": "SFPD_restapi_raw",
						"type": "DatasetReference",
						"parameters": {
							"exclude_system_fields": {
								"value": "@pipeline().parameters.exclude_system_fields",
								"type": "Expression"
							},
							"limit": {
								"value": "@pipeline().parameters.limit",
								"type": "Expression"
							},
							"where_1": {
								"value": "@pipeline().parameters.where_1",
								"type": "Expression"
							},
							"start_date": {
								"value": "@variables('start_date')",
								"type": "Expression"
							},
							"end_date": {
								"value": "@variables('end_date')",
								"type": "Expression"
							},
							"where_2": {
								"value": "@pipeline().parameters.where_2",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SFPD_response_raw",
						"type": "DatasetReference",
						"parameters": {
							"dataset": {
								"value": "@pipeline().parameters.dataset",
								"type": "Expression"
							},
							"trigger_time_year": {
								"value": "@variables('trigger_time_year')",
								"type": "Expression"
							},
							"trigger_time_month": {
								"value": "@variables('trigger_time_month')",
								"type": "Expression"
							},
							"response_format": {
								"value": "@pipeline().parameters.response_format",
								"type": "Expression"
							},
							"unix_trigger_time": {
								"value": "@variables('unix_trigger_time')",
								"type": "Expression"
							},
							"file_path": {
								"value": "@variables('file_path')",
								"type": "Expression"
							},
							"file_name": {
								"value": "@variables('file_name')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "file_path",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "unix_trigger_time",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "trigger_time_year",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "trigger_time_month",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Watermark unified",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "start_date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "end_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "file_path",
					"value": {
						"value": "@concat(concat(concat(concat(concat('01-raw/',pipeline().parameters.dataset,'/'), variables('trigger_time_year')),'/'),variables('trigger_time_month')),'/')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "file_name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "file_path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "file_name",
					"value": {
						"value": "@concat(concat(concat(concat(concat(concat(variables('unix_trigger_time'),'_'),pipeline().parameters.field_name_1,'_'),pipeline().parameters.field_name_2),'_'),formatDateTime(replace(variables('start_date'),'''',''), 'yyyyMMdd')),pipeline().parameters.response_format)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy watermark to blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "insert_datetime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "processing_mode_",
								"value": {
									"value": "@string('FULL LOAD')",
									"type": "Expression"
								}
							},
							{
								"name": "insert_datetime_",
								"value": {
									"value": "@addDays(variables('insert_datetime'),1)",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "processing_mode_",
									"type": "String"
								},
								"sink": {
									"name": "processing_mode",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "insert_datetime_",
									"type": "String"
								},
								"sink": {
									"name": "insert_datetime",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SFPD_log_template_raw",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SFPD_log_template_raw",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Watermark unified",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy watermark to blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "01_append_trigger_time_bronze",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine",
					"runConcurrently": true
				}
			},
			{
				"name": "start_date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "insert_datetime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "start_date",
					"value": {
						"value": "@concat('''',concat(formatDateTime(variables('insert_datetime'), 'yyyy-MM-dd'),'T00:00:00'''))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "end_date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "insert_datetime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "end_date",
					"value": {
						"value": "@concat('''',concat(formatDateTime(variables('insert_datetime'), 'yyyy-MM-dd'),'T23:59:59'''))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ReadLogSource",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "SFPD_log_raw",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "insert_datetime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ReadLogSource",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "insert_datetime",
					"value": {
						"value": "@substring(string(activity('ReadLogSource').output.value[add(int(string(activity('ReadLogSource').output.count)),-1)]),50,20)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "url_api",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "file_name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "url_api",
					"value": {
						"value": "@{concat(concat(concat(concat(concat(concat(concat(concat(concat(concat(concat(concat(concat(concat(concat(concat(concat('https://data.sfgov.org/resource/wg3w-h783.json?$$exclude_system_fields=',pipeline().parameters.exclude_system_fields),'&$limit='),pipeline().parameters.limit),'&$where='),'('),pipeline().parameters.where_1),'BETWEEN '),variables('start_date')),' AND '), variables('end_date')),') OR ('),pipeline().parameters.where_2),'BETWEEN '),variables('start_date')),' AND '), variables('end_date')),')')}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"exclude_system_fields": {
				"type": "string",
				"defaultValue": "False"
			},
			"limit": {
				"type": "string",
				"defaultValue": "9999999999"
			},
			"where_1": {
				"type": "string",
				"defaultValue": ":created_at "
			},
			"dataset": {
				"type": "string",
				"defaultValue": "police_department"
			},
			"field_name_1": {
				"type": "string",
				"defaultValue": "created_at"
			},
			"response_format": {
				"type": "string",
				"defaultValue": ".json"
			},
			"field_name_2": {
				"type": "string",
				"defaultValue": "updated_at"
			},
			"where_2": {
				"type": "string",
				"defaultValue": ":updated_at "
			}
		},
		"variables": {
			"param_epoch": {
				"type": "String",
				"defaultValue": "1970-01-01T00:00:00Z"
			},
			"trigger_time": {
				"type": "String"
			},
			"unix_trigger_time": {
				"type": "String"
			},
			"trigger_time_year": {
				"type": "String"
			},
			"trigger_time_month": {
				"type": "String"
			},
			"file_path": {
				"type": "String"
			},
			"file_name": {
				"type": "String"
			},
			"start_date": {
				"type": "String"
			},
			"response_execution_log": {
				"type": "String"
			},
			"end_date": {
				"type": "String"
			},
			"insert_datetime": {
				"type": "String"
			},
			"url_api": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-06-03T23:31:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}