phase_3/pipeline/02_validate_extraction.json
{
	"name": "02_validate_extraction",
	"properties": {
		"activities": [
			{
				"name": "ReadLogSource",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "LogSource",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "count_log_source",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ReadLogSource",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "count_log_source",
					"value": {
						"value": "@string(activity('ReadLogSource').output.count)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "insert_datetime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "count_log_source",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "insert_datetime",
					"value": {
						"value": "@string(activity('ReadLogSource').output.value[add(int(variables('count_log_source')),-1)])",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"count_log_source": {
				"type": "String"
			},
			"insert_datetime": {
				"type": "String"
			}
		},
		"annotations": []
	}
}