phase_3/pipeline/02_validate_extraction_silver.json
{
	"name": "02_validate_extraction_silver",
	"properties": {
		"activities": [
			{
				"name": "Copyfrom raw to silver layer",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SFPD_raw",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SFPD_parquet_silver",
						"type": "DatasetReference",
						"parameters": {
							"file_name": {
								"value": "@pipeline().parameters.file_name",
								"type": "Expression"
							},
							"dataset": {
								"value": "@pipeline().parameters.dataset",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy watermark to blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "insert_datetime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "processing_mode_",
								"value": {
									"value": "@string('FULL LOAD')",
									"type": "Expression"
								}
							},
							{
								"name": "insert_datetime_",
								"value": {
									"value": "@addDays(variables('insert_datetime'),1)",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "processing_mode_",
									"type": "String"
								},
								"sink": {
									"name": "processing_mode",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "insert_datetime_",
									"type": "String"
								},
								"sink": {
									"name": "insert_datetime",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SFPD_log_template_raw",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SFPD_log_template_raw",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Watermark unified",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy watermark to blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "01_append_trigger_time_bronze",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine",
					"runConcurrently": true
				}
			},
			{
				"name": "ReadLogSource",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "SFPD_log_raw",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "insert_datetime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ReadLogSource",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "insert_datetime",
					"value": {
						"value": "@substring(string(activity('ReadLogSource').output.value[add(int(string(activity('ReadLogSource').output.count)),-1)]),50,28)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"file_name": {
				"type": "string",
				"defaultValue": "san_francisco_police_department.parquet"
			},
			"dataset": {
				"type": "string",
				"defaultValue": "police_department"
			}
		},
		"annotations": []
	}
}