phase_3/pipeline/02_validate_extraction_silver.json
{
	"name": "02_validate_extraction_silver",
	"properties": {
		"activities": [
			{
				"name": "From raw to silver layer",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Watermark unified",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['incident_datetime']"
								},
								"sink": {
									"name": "incident_datetime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['incident_date']"
								},
								"sink": {
									"name": "incident_date",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['incident_time']"
								},
								"sink": {
									"name": "incident_time",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['incident_year']"
								},
								"sink": {
									"name": "incident_year",
									"type": "Int16"
								}
							},
							{
								"source": {
									"path": "$['incident_day_of_week']"
								},
								"sink": {
									"name": "incident_day_of_week",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['report_datetime']"
								},
								"sink": {
									"name": "report_datetime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['row_id']"
								},
								"sink": {
									"name": "row_id",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "$['incident_id']"
								},
								"sink": {
									"name": "incident_id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['incident_number']"
								},
								"sink": {
									"name": "incident_number",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['report_type_code']"
								},
								"sink": {
									"name": "report_type_code",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['report_type_description']"
								},
								"sink": {
									"name": "report_type_description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['filed_online']"
								},
								"sink": {
									"name": "filed_online",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "$['incident_code']"
								},
								"sink": {
									"name": "incident_code",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['incident_category']"
								},
								"sink": {
									"name": "incident_category",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['incident_subcategory']"
								},
								"sink": {
									"name": "incident_subcategory",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['incident_description']"
								},
								"sink": {
									"name": "incident_description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['resolution']"
								},
								"sink": {
									"name": "resolution",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['police_district']"
								},
								"sink": {
									"name": "police_district",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$[':id']"
								},
								"sink": {
									"name": ":id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$[':created_at']"
								},
								"sink": {
									"name": ":created_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$[':updated_at']"
								},
								"sink": {
									"name": ":updated_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['cad_number']"
								},
								"sink": {
									"name": "cad_number",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['intersection']"
								},
								"sink": {
									"name": "intersection",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['cnn']"
								},
								"sink": {
									"name": "cnn",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['analysis_neighborhood']"
								},
								"sink": {
									"name": "analysis_neighborhood",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['supervisor_district']"
								},
								"sink": {
									"name": "supervisor_district",
									"type": "Int16"
								}
							},
							{
								"source": {
									"path": "$['supervisor_district_2012']"
								},
								"sink": {
									"name": "supervisor_district_2012",
									"type": "Int16"
								}
							},
							{
								"source": {
									"path": "$['latitude']"
								},
								"sink": {
									"name": "latitude",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "$['longitude']"
								},
								"sink": {
									"name": "longitude",
									"type": "Decimal"
								}
							}
						],
						"collectionReference": "$['point']['coordinates']"
					}
				},
				"inputs": [
					{
						"referenceName": "SFPD_raw",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SFPD_parquet_silver",
						"type": "DatasetReference",
						"parameters": {
							"file_name": {
								"value": "@pipeline().parameters.file_name",
								"type": "Expression"
							},
							"dataset": {
								"value": "@pipeline().parameters.dataset",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy watermark to blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "insert_datetime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "processing_mode_",
								"value": {
									"value": "@string('FULL LOAD')",
									"type": "Expression"
								}
							},
							{
								"name": "insert_datetime_",
								"value": {
									"value": "@addDays(variables('insert_datetime'),1)",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "processing_mode_",
									"type": "String"
								},
								"sink": {
									"name": "processing_mode",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "insert_datetime_",
									"type": "String"
								},
								"sink": {
									"name": "insert_datetime",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SFPD_log_template_silver",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SFPD_log_template_silver",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Watermark unified",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy watermark to blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "01_append_trigger_time_silver",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine",
					"runConcurrently": true
				}
			},
			{
				"name": "ReadLogSource",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "SFPD_log_silver",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "insert_datetime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ReadLogSource",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "insert_datetime",
					"value": {
						"value": "@substring(string(activity('ReadLogSource').output.value[add(int(string(activity('ReadLogSource').output.count)),-1)]),50,20)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"file_name": {
				"type": "string",
				"defaultValue": "san_francisco_police_department.parquet"
			},
			"dataset": {
				"type": "string",
				"defaultValue": "police_department"
			}
		},
		"variables": {
			"insert_datetime": {
				"type": "String"
			}
		},
		"annotations": []
	}
}