adf-dev-eastus-0001/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-dev-eastus-0001"
		},
		"RestApiSocrataService_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'RestApiSocrataService'"
		},
		"dls_socrata_api_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'dls_socrata_api'"
		},
		"RestApiSocrataService_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{concat(concat(concat(concat(concat(concat(concat(concat(concat(concat(concat(concat(concat(concat(concat(concat(concat('https://data.sfgov.org/resource/wg3w-h783.json?$$exclude_system_fields=',linkedService().exclude_system_fields),'&$limit='),linkedService().limit),'&$where='),'('),linkedService().where_1),'BETWEEN '),linkedService().start_date),' AND '), linkedService().end_date),') OR ('),linkedService().where_2),'BETWEEN '),linkedService().start_date),' AND '), linkedService().end_date),')')}"
		},
		"RestApiSocrataService_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "2osd2wzioj43v7iymmfnt74x3"
		},
		"dls_socrata_api_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dlsdeveastus0001.dfs.core.windows.net/"
		},
		"everyday_210PM_Brasilia_properties_02_validate_extraction_silver_parameters_file_name": {
			"type": "string",
			"defaultValue": "san_francisco_police_department.parquet"
		},
		"everyday_210PM_Brasilia_properties_02_validate_extraction_silver_parameters_dataset": {
			"type": "string",
			"defaultValue": "police_department"
		},
		"everyday_2PM_Brasilia_properties_01_extract_from_api_raw_parameters_exclude_system_fields": {
			"type": "string",
			"defaultValue": "False"
		},
		"everyday_2PM_Brasilia_properties_01_extract_from_api_raw_parameters_limit": {
			"type": "string",
			"defaultValue": "9999999999"
		},
		"everyday_2PM_Brasilia_properties_01_extract_from_api_raw_parameters_where_1": {
			"type": "string",
			"defaultValue": ":created_at "
		},
		"everyday_2PM_Brasilia_properties_01_extract_from_api_raw_parameters_dataset": {
			"type": "string",
			"defaultValue": "police_department"
		},
		"everyday_2PM_Brasilia_properties_01_extract_from_api_raw_parameters_field_name_1": {
			"type": "string",
			"defaultValue": "created_at"
		},
		"everyday_2PM_Brasilia_properties_01_extract_from_api_raw_parameters_response_format": {
			"type": "string",
			"defaultValue": ".json"
		},
		"everyday_2PM_Brasilia_properties_01_extract_from_api_raw_parameters_field_name_2": {
			"type": "string",
			"defaultValue": "updated_at"
		},
		"everyday_2PM_Brasilia_properties_01_extract_from_api_raw_parameters_where_2": {
			"type": "string",
			"defaultValue": ":updated_at "
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/01_extract_from_api_raw')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "trigger_time",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "trigger_time",
							"value": {
								"value": "@addDays(pipeline().TriggerTime, -1)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Socrata Api to Blob Storage Gen2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "url_api",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false,
							"parallelCopies": 1,
							"dataIntegrationUnits": 2
						},
						"inputs": [
							{
								"referenceName": "SFPD_restapi_raw",
								"type": "DatasetReference",
								"parameters": {
									"exclude_system_fields": {
										"value": "@pipeline().parameters.exclude_system_fields",
										"type": "Expression"
									},
									"limit": {
										"value": "@pipeline().parameters.limit",
										"type": "Expression"
									},
									"where_1": {
										"value": "@pipeline().parameters.where_1",
										"type": "Expression"
									},
									"start_date": {
										"value": "@concat('''',concat(formatDateTime(variables('trigger_time'), 'yyyy-MM-dd'),'T00:00:00'''))",
										"type": "Expression"
									},
									"end_date": {
										"value": "@concat('''',concat(formatDateTime(variables('trigger_time'), 'yyyy-MM-dd'),'T23:59:59'''))",
										"type": "Expression"
									},
									"where_2": {
										"value": "@pipeline().parameters.where_2",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SFPD_response_raw",
								"type": "DatasetReference",
								"parameters": {
									"dataset": {
										"value": "@pipeline().parameters.dataset",
										"type": "Expression"
									},
									"trigger_time_year": {
										"value": "@formatDateTime(variables('trigger_time'), 'yyyy')",
										"type": "Expression"
									},
									"trigger_time_month": {
										"value": "@formatDateTime(variables('trigger_time'), 'MM')",
										"type": "Expression"
									},
									"response_format": {
										"value": "@pipeline().parameters.response_format",
										"type": "Expression"
									},
									"unix_trigger_time": {
										"value": "@variables('unix_trigger_time')",
										"type": "Expression"
									},
									"file_path": {
										"value": "@concat(concat(concat(concat(concat('01-raw/',pipeline().parameters.dataset,'/'), formatDateTime(variables('trigger_time'), 'yyyy')),'/'),formatDateTime(variables('trigger_time'), 'MM')),'/')",
										"type": "Expression"
									},
									"file_name": {
										"value": "@concat(concat(concat(concat(concat(concat(string(sub(div(ticks(variables('trigger_time')),10000000),div(ticks(variables('param_epoch')),10000000))),'_'),pipeline().parameters.field_name_1,'_'),pipeline().parameters.field_name_2),'_'),formatDateTime(replace(concat('''',concat(formatDateTime(variables('trigger_time'), 'yyyy-MM-dd'),'T00:00:00''')),'''',''), 'yyyyMMdd')),pipeline().parameters.response_format)",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "url_api",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "trigger_time",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "url_api",
							"value": {
								"value": "@{concat(concat(concat(concat(concat(concat(concat(concat(concat(concat(concat(concat(concat(concat(concat(concat(concat('https://data.sfgov.org/resource/wg3w-h783.json?$$exclude_system_fields=',pipeline().parameters.exclude_system_fields),'&$limit='),pipeline().parameters.limit),'&$where='),'('),pipeline().parameters.where_1),'BETWEEN '),concat('''',concat(formatDateTime(variables('trigger_time'), 'yyyy-MM-dd'),'T00:00:00'''))),' AND '), concat('''',concat(formatDateTime(variables('trigger_time'), 'yyyy-MM-dd'),'T23:59:59'''))),') OR ('),pipeline().parameters.where_2),'BETWEEN '),concat('''',concat(formatDateTime(variables('trigger_time'), 'yyyy-MM-dd'),'T00:00:00'''))),' AND '), concat('''',concat(formatDateTime(variables('trigger_time'), 'yyyy-MM-dd'),'T23:59:59'''))),')')}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"exclude_system_fields": {
						"type": "string",
						"defaultValue": "False"
					},
					"limit": {
						"type": "string",
						"defaultValue": "9999999999"
					},
					"where_1": {
						"type": "string",
						"defaultValue": ":created_at "
					},
					"dataset": {
						"type": "string",
						"defaultValue": "police_department"
					},
					"field_name_1": {
						"type": "string",
						"defaultValue": "created_at"
					},
					"response_format": {
						"type": "string",
						"defaultValue": ".json"
					},
					"field_name_2": {
						"type": "string",
						"defaultValue": "updated_at"
					},
					"where_2": {
						"type": "string",
						"defaultValue": ":updated_at "
					}
				},
				"variables": {
					"param_epoch": {
						"type": "String",
						"defaultValue": "1970-01-01T00:00:00Z"
					},
					"trigger_time": {
						"type": "String"
					},
					"unix_trigger_time": {
						"type": "String"
					},
					"trigger_time_year": {
						"type": "String"
					},
					"trigger_time_month": {
						"type": "String"
					},
					"file_path": {
						"type": "String"
					},
					"file_name": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					},
					"response_execution_log": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					},
					"insert_datetime": {
						"type": "String"
					},
					"url_api": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-06-03T23:31:28Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SFPD_restapi_raw')]",
				"[concat(variables('factoryId'), '/datasets/SFPD_response_raw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/02_validate_extraction_silver')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy watermark to blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "processing_mode_",
										"value": {
											"value": "@string('FULL LOAD')",
											"type": "Expression"
										}
									},
									{
										"name": "insert_datetime_",
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"parallelCopies": 1,
							"dataIntegrationUnits": 2,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "processing_mode_",
											"type": "String"
										},
										"sink": {
											"name": "processing_mode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "insert_datetime_",
											"type": "String"
										},
										"sink": {
											"name": "insert_datetime",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SFPD_log_template_silver",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SFPD_log_template_silver",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Watermark unified and validation",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy watermark to blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "02_watermark_append_validate_data_silver",
								"type": "DataFlowReference",
								"parameters": {
									"file_name": {
										"value": "'@{pipeline().parameters.file_name}'",
										"type": "Expression"
									},
									"dataset": {
										"value": "'@{pipeline().parameters.dataset}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"LogSourceTemplate": {},
									"LogSource": {},
									"SFPDRaw": {},
									"LogLoad": {},
									"SFPDSilver": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "None",
							"runConcurrently": true,
							"cacheSinks": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"file_name": {
						"type": "string",
						"defaultValue": "san_francisco_police_department.parquet"
					},
					"dataset": {
						"type": "string",
						"defaultValue": "police_department"
					}
				},
				"variables": {
					"insert_datetime": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SFPD_log_template_silver')]",
				"[concat(variables('factoryId'), '/dataflows/02_watermark_append_validate_data_silver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SFPD_log_raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dls_socrata_api",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "ingestion_api_socrata.log",
						"folderPath": "01-raw",
						"fileSystem": "execution-logs"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "processing_mode",
						"type": "String"
					},
					{
						"name": "insert_datetime",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dls_socrata_api')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SFPD_log_silver')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dls_socrata_api",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "ingestion_api_socrata.log",
						"folderPath": "02-silver",
						"fileSystem": "execution-logs"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "processing_mode",
						"type": "String"
					},
					{
						"name": "insert_datetime",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dls_socrata_api')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SFPD_log_template_raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dls_socrata_api",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "ingestion_api_socrata_template.log",
						"folderPath": "01-raw",
						"fileSystem": "execution-logs"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "processing_mode",
						"type": "String"
					},
					{
						"name": "insert_datetime",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dls_socrata_api')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SFPD_log_template_silver')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dls_socrata_api",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "ingestion_api_socrata_template.log",
						"folderPath": "02-silver",
						"fileSystem": "execution-logs"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "processing_mode",
						"type": "String"
					},
					{
						"name": "insert_datetime",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dls_socrata_api')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SFPD_parquet_silver')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dls_socrata_api",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"file_name": {
						"type": "string"
					},
					"dataset": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().dataset",
							"type": "Expression"
						},
						"fileSystem": "02-silver"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dls_socrata_api')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SFPD_raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dls_socrata_api",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "01-raw"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"incident_datetime": {
							"type": "string"
						},
						"incident_date": {
							"type": "string"
						},
						"incident_time": {
							"type": "string"
						},
						"incident_year": {
							"type": "string"
						},
						"incident_day_of_week": {
							"type": "string"
						},
						"report_datetime": {
							"type": "string"
						},
						"row_id": {
							"type": "string"
						},
						"incident_id": {
							"type": "string"
						},
						"incident_number": {
							"type": "string"
						},
						"report_type_code": {
							"type": "string"
						},
						"report_type_description": {
							"type": "string"
						},
						"filed_online": {
							"type": "boolean"
						},
						"incident_code": {
							"type": "string"
						},
						"incident_category": {
							"type": "string"
						},
						"incident_subcategory": {
							"type": "string"
						},
						"incident_description": {
							"type": "string"
						},
						"resolution": {
							"type": "string"
						},
						"police_district": {
							"type": "string"
						},
						":id": {
							"type": "string"
						},
						":created_at": {
							"type": "string"
						},
						":updated_at": {
							"type": "string"
						},
						"cad_number": {
							"type": "string"
						},
						"intersection": {
							"type": "string"
						},
						"cnn": {
							"type": "string"
						},
						"analysis_neighborhood": {
							"type": "string"
						},
						"supervisor_district": {
							"type": "string"
						},
						"supervisor_district_2012": {
							"type": "string"
						},
						"latitude": {
							"type": "string"
						},
						"longitude": {
							"type": "string"
						},
						"point": {
							"type": "object",
							"properties": {
								"type": {
									"type": "string"
								},
								"coordinates": {
									"type": "array",
									"items": {
										"type": "number"
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dls_socrata_api')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SFPD_response_raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dls_socrata_api",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"dataset": {
						"type": "string"
					},
					"trigger_time_year": {
						"type": "string"
					},
					"trigger_time_month": {
						"type": "string"
					},
					"response_format": {
						"type": "string"
					},
					"unix_trigger_time": {
						"type": "string"
					},
					"file_path": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().file_path",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dls_socrata_api')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SFPD_restapi_raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestApiSocrataService",
					"type": "LinkedServiceReference",
					"parameters": {
						"exclude_system_fields": {
							"value": "@dataset().exclude_system_fields",
							"type": "Expression"
						},
						"limit": {
							"value": "@dataset().limit",
							"type": "Expression"
						},
						"where_1": {
							"value": "@dataset().where_1",
							"type": "Expression"
						},
						"start_date": {
							"value": "@dataset().start_date",
							"type": "Expression"
						},
						"end_date": {
							"value": "@dataset().end_date",
							"type": "Expression"
						},
						"where_2": {
							"value": "@dataset().where_2",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"exclude_system_fields": {
						"type": "string"
					},
					"limit": {
						"type": "string"
					},
					"where_1": {
						"type": "string"
					},
					"start_date": {
						"type": "string"
					},
					"end_date": {
						"type": "string"
					},
					"where_2": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestApiSocrataService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestApiSocrataService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Basic",
				"parameters": {
					"exclude_system_fields": {
						"type": "string"
					},
					"limit": {
						"type": "string"
					},
					"where_1": {
						"type": "string"
					},
					"start_date": {
						"type": "string"
					},
					"end_date": {
						"type": "string"
					},
					"where_2": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestApiSocrataService_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('RestApiSocrataService_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('RestApiSocrataService_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dls_socrata_api')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('dls_socrata_api_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('dls_socrata_api_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/everyday_210PM_Brasilia')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "02_validate_extraction_silver",
							"type": "PipelineReference"
						},
						"parameters": {
							"file_name": "[parameters('everyday_210PM_Brasilia_properties_02_validate_extraction_silver_parameters_file_name')]",
							"dataset": "[parameters('everyday_210PM_Brasilia_properties_02_validate_extraction_silver_parameters_dataset')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-06-09T14:10:00",
						"timeZone": "E. South America Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/02_validate_extraction_silver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/everyday_2PM_Brasilia')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "01_extract_from_api_raw",
							"type": "PipelineReference"
						},
						"parameters": {
							"exclude_system_fields": "[parameters('everyday_2PM_Brasilia_properties_01_extract_from_api_raw_parameters_exclude_system_fields')]",
							"limit": "[parameters('everyday_2PM_Brasilia_properties_01_extract_from_api_raw_parameters_limit')]",
							"where_1": "[parameters('everyday_2PM_Brasilia_properties_01_extract_from_api_raw_parameters_where_1')]",
							"dataset": "[parameters('everyday_2PM_Brasilia_properties_01_extract_from_api_raw_parameters_dataset')]",
							"field_name_1": "[parameters('everyday_2PM_Brasilia_properties_01_extract_from_api_raw_parameters_field_name_1')]",
							"response_format": "[parameters('everyday_2PM_Brasilia_properties_01_extract_from_api_raw_parameters_response_format')]",
							"field_name_2": "[parameters('everyday_2PM_Brasilia_properties_01_extract_from_api_raw_parameters_field_name_2')]",
							"where_2": "[parameters('everyday_2PM_Brasilia_properties_01_extract_from_api_raw_parameters_where_2')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-06-05T14:00:00",
						"timeZone": "E. South America Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/01_extract_from_api_raw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/01_append_trigger_time_bronze')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SFPD_log_template_raw",
								"type": "DatasetReference"
							},
							"name": "LogSourceTemplate"
						},
						{
							"dataset": {
								"referenceName": "SFPD_log_raw",
								"type": "DatasetReference"
							},
							"name": "LogSource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SFPD_log_raw",
								"type": "DatasetReference"
							},
							"name": "LogLoad"
						}
					],
					"transformations": [
						{
							"name": "union1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          processing_mode as string,",
						"          insert_datetime as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> LogSourceTemplate",
						"source(output(",
						"          processing_mode as string,",
						"          insert_datetime as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> LogSource",
						"LogSource, LogSourceTemplate union(byName: false)~> union1",
						"union1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          processing_mode as string,",
						"          insert_datetime as string",
						"     ),",
						"     partitionFileNames:['ingestion_api_socrata.log'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> LogLoad"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SFPD_log_template_raw')]",
				"[concat(variables('factoryId'), '/datasets/SFPD_log_raw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/02_watermark_append_validate_data_silver')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SFPD_log_template_silver",
								"type": "DatasetReference"
							},
							"name": "LogSourceTemplate"
						},
						{
							"dataset": {
								"referenceName": "SFPD_log_silver",
								"type": "DatasetReference"
							},
							"name": "LogSource"
						},
						{
							"linkedService": {
								"referenceName": "dls_socrata_api",
								"type": "LinkedServiceReference"
							},
							"name": "SFPDRaw"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SFPD_log_silver",
								"type": "DatasetReference"
							},
							"name": "LogLoad"
						},
						{
							"linkedService": {
								"referenceName": "dls_socrata_api",
								"type": "LinkedServiceReference"
							},
							"name": "SFPDSilver"
						}
					],
					"transformations": [
						{
							"name": "unionWatermarkToLog"
						},
						{
							"name": "validations",
							"description": "Creating/updating the columns 'analysis_neighborhood, cad_number, cnn, filed_online, incident_category, incident_subcategory, intersection, latitude, longitude, police_district, supervisor_district, supervisor_district_2012'"
						}
					],
					"scriptLines": [
						"parameters{",
						"     file_name as string,",
						"     dataset as string",
						"}",
						"source(output(",
						"          processing_mode as string,",
						"          insert_datetime as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> LogSourceTemplate",
						"source(output(",
						"          processing_mode as string,",
						"          insert_datetime as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> LogSource",
						"source(output(",
						"          {:created_at} as string,",
						"          {:id} as string,",
						"          {:updated_at} as string,",
						"          analysis_neighborhood as string,",
						"          cad_number as integer,",
						"          cnn as decimal(8,0),",
						"          filed_online as boolean,",
						"          incident_category as string,",
						"          incident_code as integer,",
						"          incident_date as string,",
						"          incident_datetime as string,",
						"          incident_day_of_week as string,",
						"          incident_description as string,",
						"          incident_id as integer,",
						"          incident_number as integer,",
						"          incident_subcategory as string,",
						"          incident_time as string,",
						"          incident_year as integer,",
						"          intersection as string,",
						"          latitude as decimal(17,15),",
						"          longitude as decimal(17,14),",
						"          point as (coordinates as decimal(17,15)[], type as string),",
						"          police_district as string,",
						"          report_datetime as string,",
						"          report_type_code as string,",
						"          report_type_description as string,",
						"          resolution as string,",
						"          row_id as long,",
						"          supervisor_district as integer,",
						"          supervisor_district_2012 as integer",
						"     ),",
						"     useSchema: false,",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'json',",
						"     fileSystem: '01-raw',",
						"     documentForm: 'documentPerLine',",
						"     wildcardPaths:['*/*/*/*.json'],",
						"     partitionBy('hash', 1)) ~> SFPDRaw",
						"LogSource, LogSourceTemplate union(byName: false)~> unionWatermarkToLog",
						"SFPDRaw derive(latitude_derived = toString(toDecimal(iifNull(latitude, 37.774929),38,6)),",
						"          longitude_derived = toString(toDecimal(iifNull(longitude, -122.419416),38,6)),",
						"          cad_number_derived = toString(iif((isNull(cad_number) && isNull(filed_online)) || (isNull(cad_number) && filed_online == true()), 'Not applicable', toString(cad_number))),",
						"          incident_category_derived = toString(iifNull(toString(incident_category), 'Not applicable', toString(incident_category))),",
						"          incident_subcategory_derived = toString(iifNull(toString(incident_subcategory), 'Not applicable', toString(incident_subcategory))),",
						"          intersection_derived = toString(iifNull(toString(intersection), 'Not applicable', toString(intersection))),",
						"          centerline_node_network_derived = toString(iifNull(toString(cnn), 'Not applicable', toString(cnn))),",
						"          analysis_neighborhood_derived = toString(iifNull(toString(analysis_neighborhood), 'Not applicable', toString(analysis_neighborhood))),",
						"          supervisor_district_derived = toString(iifNull(supervisor_district, 0, supervisor_district)),",
						"          supervisor_district_2012_derived = toString(iifNull(supervisor_district_2012, 0, supervisor_district_2012)),",
						"          filed_online_derived = toBoolean(iifNull(toString(filed_online), toString('false'), toString(filed_online))),",
						"          yyyymmdd = replace(left(incident_datetime, 7),'-',''),",
						"          hhmm = replace(left(right(incident_datetime, 12),5),':','')) ~> validations",
						"unionWatermarkToLog sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          processing_mode as string,",
						"          insert_datetime as string",
						"     ),",
						"     partitionFileNames:['ingestion_api_socrata.log'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> LogLoad",
						"validations sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     fileSystem: '02-silver',",
						"     folderPath: ($dataset),",
						"     compressionCodec: 'snappy',",
						"     partitionFileNames:[($file_name)],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          yyyymmdd,",
						"          hhmm,",
						"          {:created_at},",
						"          {:id},",
						"          {:updated_at},",
						"          analysis_neighborhood = analysis_neighborhood_derived,",
						"          cad_number = cad_number_derived,",
						"          centerline_node_network = centerline_node_network_derived,",
						"          filed_online = filed_online_derived,",
						"          incident_category = incident_category_derived,",
						"          incident_code,",
						"          incident_date,",
						"          incident_datetime,",
						"          incident_day_of_week,",
						"          incident_description,",
						"          incident_id,",
						"          incident_number,",
						"          incident_subcategory = incident_subcategory_derived,",
						"          incident_time,",
						"          incident_year,",
						"          intersection = intersection_derived,",
						"          latitude = latitude_derived,",
						"          longitude = longitude_derived,",
						"          point,",
						"          police_district,",
						"          report_datetime,",
						"          report_type_code,",
						"          report_type_description,",
						"          resolution,",
						"          row_id,",
						"          supervisor_district = supervisor_district_derived,",
						"          supervisor_district_2012 = supervisor_district_2012_derived",
						"     ),",
						"     partitionBy('hash', 1)) ~> SFPDSilver"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SFPD_log_template_silver')]",
				"[concat(variables('factoryId'), '/datasets/SFPD_log_silver')]",
				"[concat(variables('factoryId'), '/linkedServices/dls_socrata_api')]"
			]
		}
	]
}